.light-theme {
    // Backgrounds
    --background-primary: #725AC1; 
    --background-accent: #242038;
    --light-background: #F7ECE1;

    // Text
    --text-primary: #333;
    --text-light: #fff;

    // Buttons
    --button-main: #1C6E8C;
    --button-main-accent: #274156;

    --button-success: #70AF72;
    --button-success-accent: #609462
}